name: Documentation

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure Git Credentials
        run: |
          git config --global user.name "github-actions[bot]"
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Install dependencies
        run: uv sync
      - name: Deploy Documentation
        run: uv run mkdocs gh-deploy --force
